:root {
  --clr-hsl-light-red: 0, 100%, 67%;
  --clr--hsl-orange-yellow: 39, 100%, 56%;
  --clr-hsl-grean-teal: 166, 100%, 37%;
  --clr-hsl-cobalt-blue: 234, 85%, 45%;

  --clr-background-light-slate-blue: hsl(252, 100%, 67%);
  --clr-background-light-royal-blue: hsl(241, 81%, 54%);

  --clr-circle-violet-blue: hsla(256, 72%, 46%, 1);
  --clr-circle-persian-blue: hsla(241, 72%, 46%, 0);

  --gradient-background: linear-gradient(
    var(--clr-background-light-slate-blue),
    var(--clr-background-light-royal-blue)
  );
  /*prettier-ignore*/
  --gradient-circle: linear-gradient(
    var(--clr-circle-violet-blue), 
    var(--clr-circle-persian-blue));

  --clr-neutral-white: hsl(0, 0%, 100%);
  --clr-neutral-tale-blue: hsl(221, 100%, 96%);
  --clr-neutral-light-lavander: hsl(241, 100%, 89%);
  --clr-neutral-dark-gray-blue: hsl(224, 30%, 27%);
  --clr-hsl-darl-gray-blue: 224, 30%, 27%;

  --clr-shaddows: hsla(224, 30%, 27%, 0.2);
  --clr-fading-white: hsla(0, 0%, 100%, 0.75);

  --ff-basic: "Hanken Grotesk", sans-serif;

  --fw-regular: 500;
  --fw-bold: 700;
  --fw-extra-bold: 800;
  --fw-extra-extra-bold: 900;

  --fs-500: 1.125rem;
  --fs-600: 1.25rem;
  --fs-700: 1.5rem;
  --fs-800: 2rem;
  --fs-res: 4rem;
}
/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
/*
    2. Remove default margin
  */
* {
  margin: 0;
}
/*
    Typographic tweaks!
    3. Add accessible line-height
    4. Improve text rendering
  */
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
/*
    5. Improve media defaults
  */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
/*
    6. Remove built-in form typography styles
  */
input,
button,
textarea,
select {
  font: inherit;
}
/*
    7. Avoid text overflows
  */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
/*
    8. Create a root stacking context
  */
#root,
#__next {
  isolation: isolate;
}
/* making the whole page selected */
html,
body {
  min-height: 100dvh;
  font-family: var(--ff-basic);
}

/* utilities  */
.visually-hidden:not(:focus):not(:active) {
  position: absolute;
  clip-path: inset(50%);
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  white-space: nowrap;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
}
.grid-flow {
  display: grid;
  gap: 1rem;
  align-content: start;
}
.grid-flow[data-spacing="large"] {
  gap: 2rem;
}

body {
  font-family: var(--ff-basic);
  font-weight: var(--fw-regular);
  font-size: var(--fs-500);
  background-color: var(--clr-neutral-white);
}
@media (min-width: 600px) {
  body {
    min-height: 100dvh;
    display: grid;
    place-content: center;
  }
}
.section-title {
  font-weight: var(--fw-bold);
  font-size: var(--fs-700);
}
.button {
  color: var(--clr-neutral-white);
  line-height: 1;
  background-color: var(--clr-neutral-dark-gray-blue);
  padding: 1rem 2rem;
  border: 0;
  cursor: pointer;
  border-radius: 100vw;
}
.button:hover,
.button:focus-visible {
  background: var(--gradient-background);
}
.result-summary {
  --padding: 2.5rem;
  max-width: 43rem;
  min-width: 19.375rem;
  display: grid;
  border-radius: 2rem;
}
@media (min-width: 600px) {
  .result-summary {
    grid-template-columns: 1fr 1fr;
    margin-inline: 2rem;
    box-shadow: 0.5rem 1rem 3rem var(--clr-shaddows);
    overflow: hidden;
  }
}
.results {
  color: var(--clr-fading-white);
  background: var(--gradient-background);
  text-align: center;
  border-radius: 0 0 2rem 2rem;
  padding: var(--padding);
}
@media (min-width: 600px) {
  .results {
    border-radius: 2rem;
  }
}
.summary {
  padding: var(--padding);
}
.result-score {
  display: grid;
  place-content: center;
  width: 12rem;
  margin-inline: auto;
  background: var(--gradient-circle);
  border-radius: 50%;
  aspect-ratio: 1 / 1;
}
.result-score span {
  display: block;
  line-height: 1;
  font-size: var(--fs-res);
  font-weight: var(--fw-extra-bold);
  color: var(--clr-neutral-white);
}
.result-rank {
  color: var(--clr-neutral-white);
  font-size: var(--fs-700);
}
.summary-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  border-radius: 0.5rem;
}
.flex-group {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  gap: 0.5rem;
}
.item-one {
  background-color: hsl(var(--clr-hsl-light-red), 0.1);
}
.item-two {
  background-color: hsl(var(--clr--hsl-orange-yellow), 0.1);
}
.item-three {
  background-color: hsl(var(--clr-hsl-grean-teal), 0.1);
}
.item-four {
  background-color: hsl(var(--clr-hsl-cobalt-blue), 0.1);
}
.summary-score {
  color: hsl(var(--clr-hsl-darl-gray-blue), 0.5);
  font-weight: var(--fw-extra-bold);
}
.summary-score span {
  color: var(--clr-neutral-dark-gray-blue);
}
